.header-bar.default-decoration {
  padding-top: 4px;
  padding-bottom: 4px;
}

.header-bar.default-decoration .button.titlebutton {
  padding-top: 4px;
  padding-bottom: 4px;
}

/* No line below the title bar */
.ssd .titlebar {
  border-width: 2px;
  box-shadow: none;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
  margin-top: 0px; /* same as headerbar side padding for nicer proportions */
  margin-bottom: 0px;
}

headerbar {
  min-height: 24px;
  padding-left: 2px; /* same as childrens vertical margins for nicer proportions */
  padding-right: 2px;
  margin: 0px; /* same as headerbar side padding for nicer proportions */
  padding: 0px;
}
