[user]
  name = Geoff Shannon
  email = earthlingzephyr@gmail.com
[core]
  autocrlf = input
  editor = emacsclient -nw -a \"\"
  excludesfile = /home/geoff/.gitignore_global
[color]
  ui = auto
[alias]
  gr = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m" -n15
  au = update-index --assume-unchanged
  last = log -n1
  last-diff = diff HEAD~ HEAD
  no-au = update-index --no-assume-unchanged
[giggle]
  main-window-maximized = true
  main-window-geometry = 465x281+665+24
  file-view-vpane-position = 567
  history-view-vpane-position = 624
  main-window-view = FileView
[apply]
  ignorewhitespace = change
[merge]
  tool = meld
[web]
  browser = google-chrome
[help]
  format = web
[push]
	default = simple
