[user]
  name = Geoff Shannon
  email = geoffpshannon@gmail.com
[core]
  autocrlf = input
  editor = emacsclient -nw -a \"\"
  excludesfile = /home/geoff/.gitignore_global
[color]
  ui = auto
[alias]
  gr = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m" -n15
  au = update-index --assume-unchanged
  no-au = update-index --no-assume-unchanged
  last = log -n1
  last-diff = diff HEAD~ HEAD
  pack = !git archive -o $(git tag | sort -rVk1.2 | head -n1).zip HEAD
  ignore = !echo >> .gitignore
[giggle]
  main-window-maximized = false
  main-window-geometry = 1029x675+3+49
  file-view-vpane-position = 611
  history-view-vpane-position = 547
  main-window-view = FileView
[apply]
  ignorewhitespace = change
[web]
  browser = firefox
[help]
  format = web
[push]
  default = simple
